################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UoW.Database.Robert
/UoW.Database.Robert/bin/Debug/netcoreapp3.1
/UoW.Database.Robert/obj
