################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UoW.Database.Robert/bin
/UoW.Database.Robert/obj
/UoW.Global.River/bin
/UoW.Global.River/obj
/UoW.Students.Sand/bin
/UoW.Students.Sand/obj
/UoW.Faculties.Flower/bin
/UoW.Faculties.Flower/obj
/UoW.Books.Snow/bin
/UoW.Books.Snow/obj
/UoW.Courses.Storm/bin
/UoW.Courses.Storm/obj
/.vscode
/UoW.Departments.Hill/bin
/UoW.Departments.Hill/obj
/UoW.OData.Knight/obj
/UoW.OData.Knight/bin
